CLERK_SECRET_KEY=sk_test_uFXs2Y2I7CU6zEAOJsZp2PxPw1uJ9bBgDTKGs1tQWP
DOMAIN=advanced-hermit-16.accounts.dev
CLERK_DOMAIN=advanced-hermit-16.clerk.accounts.dev
ENVIRONMENT=development # development, production
VERCEL_APP_URL=simple-auth-alpha.vercel.app